/* Starting Phone View */
@media (max-width:500px) 
{
    
}
/* End Of Phone View */

.panel-default > .panel-heading {
  background-color: #FFF !important;
  background-image: unset !important;
}

body {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 2em;  
}

.panel-title  
{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    font-size: 1.0em;
}

.panel-footer  
{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 0.7em;
    background-color: #FFF !important;
}

.profile_pic
{
    width: 30px;
}


